.Card{
}

.estadoCard{
    border-radius: 25px;
    border-style: solid;
    width: 500px;
    height: 125px;
    
    display:flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    margin-bottom: 1%;

    background-image:
        url('./images/dusk-calms.jpg');
        opacity: 0.9;
        background-repeat: no-repeat;
    
    .propFecha{
        color:antiquewhite;
    }
    .propEstado{
        color:darkkhaki;
    }
    .propDescription{
        color:darkgoldenrod;
    }
    .propDescriptionConditional{
        color:darkgoldenrod;
    }
}

.newBox{
    border-radius:25px;
    border-style: solid;
    width: 200px;
    height: 100px;

    justify-content: center;
    align-items: center;
    padding-top: 25px;
    position: fixed;

    margin: auto;
    background-color:blanchedalmond;
    z-index: 2;
}