.Banner{
    
    .bannerImage{
        border-style: solid;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        margin: auto;
        width: 1000px;
        height: 400px;
    }
}

.userState{
    border-radius: 5px;
    border-style: solid;
    justify-content: center;
    margin: auto;
    width: 50%;
    height: 50%;
    background-color: #f9d3a4;
    transition: background 1.5s, transform 1s ease-in;
}
.userState:hover{
    background-color:blanchedalmond;
    transform:rotateY(360deg);
}

.boxImage{
    display: flex;
    object-position: center;
    justify-content: center;
    
    .profileImage{
        width: 25%;
        height: 25%;
        object-fit: cover;
    }
}

.profileInformation{
    padding: 2%;
    .username{
        border-style: solid;
        border-radius: 25px;
        margin: auto;
        width:300px;
    }
    .usergenero{
        border-style: solid;
        border-radius: 25px;
        margin:auto;
        width: 300px;
    }
    .usermail{
        border-style: solid;
        border-radius: 25px;
        margin: auto;
        width: 300px;
    }
    .userage{
        border-style: solid;
        border-radius: 25px;
        margin: auto;
        width: 300px;
    }
}

.buttonModify{
    object-position: center;
    margin: auto;
    width: 15%;
    border-style: solid;
    border-radius: 5px;
    background-color:rgb(97, 191, 228);
    transition: 1s;
}
.buttonModify:hover{
    background-color:skyblue
}